{% extends 'layout.html'%}

{%block content%}
    <h1 class="mb-2 text-center fw-bold">Directores</h1>
    
    {% for director in directors %}
        <div class="card-director d-flex p-2">
            <div class="card col-md-4">
                <img src="{{director.imagen.url}}" alt="{{director.nombre}}">
            </div>
            <div class="card-body col-md-8 p-1 text-justify">
                <h1>{{director.nombre}} {{director.apellidos}}</h1>
            <h4>{{director.fecha_nacimiento}} - 
            {% if director.fecha_defuncion %}
                {{director.fecha_defuncion}} 
            {% else %}
                <h4>Actualidad</h4>
             {% endif %}</h4>
            <h3>{{director.biografia}}</h3>
            </div>
        </div>

    {% endfor %}
{%endblock%}