{% extends 'layout.html' %} 

{% block content %}
    {% for movie in movies %}
    
<div class="card-movie d-flex p-2">
    <div class="card col-md-4">
        <img src="{{ movie.imagen.url}}" alt="{{movie.nombre}}" class="img-fluid">
    </div>  
    <div class="card-body col-md-8 p-1 text-justify">      
        <h1>{{ movie.nombre }}</h1>
        <h3>Director: {{ movie.director }}</h3>
        <h4>Año: {{ movie.anyo }}</h4>
        <h4>Duración: {{ movie.duracion }} min.</h4>
        <h3>Sinopsis: {{ movie.sinopsis }}</h3>
    </div>
</div>        

    {% endfor %}
{% endblock %} 

